* {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Helvetica Neue", Arial, sans-serif;
}

main {
  background-color: #eeeeee;
  border-radius: 5px;
}
#img-div {
  display: block;
  width: 90%;
  height: auto;
  background-color: white;
  margin: 0 auto;
  padding: 20px;
}
.matn {
  text-align: center;
}
ul {
  list-style-position: inside;
  max-width: 50%;
  margin: auto;
  display: inline-block;
}
ul > li > p {
  display: inline-block;
  font-weight: bold;
}

p.italic {
  font-style: italic;
  display: inline-block;
  width: 50%;
}
p.foot {
  font-size: 18px;
  font-weight: bold;
}
img {
  max-width: 100%;
  height: auto;
  margin: auto;
  display: block;
}
